<script setup lang="ts">
import { onMounted } from 'vue';
import { nextTick, ref } from 'vue';
import type { VForm } from 'vuetify/components';
import { useCustomerStore } from '../stores/customer'
import CustomerEditCard from './POS/CustomerEditCard.vue'
const customerStore = useCustomerStore();
onMounted(() => {
    customerStore.initialize()
})


</script>
<template>
    <div>
        <v-data-table :items="customerStore.customers" :headers="customerStore.header">
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>Users</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="customerStore.dialog" persistent width="1024">
                        <template v-slot:activator="{ props }">
                            <v-btn color="primary" v-bind="props">
                                New User
                            </v-btn>
                        </template>
                    </v-dialog>
                    <CustomerEditCard></CustomerEditCard>

                    <v-dialog v-model="customerStore.dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue-darken-1" variant="text"
                                    @click="customerStore.closeDelete">Cancel</v-btn>
                                <v-btn color="blue-darken-1" variant="text"
                                    @click="customerStore.deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
                <v-icon size="small" class="me-2" @click="customerStore.editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon size="small" @click="customerStore.deleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="primary" @click="customerStore.initialize">
                    Reset
                </v-btn>
            </template>
        </v-data-table>

    </div>
</template>